:root, ul, li{
  margin: 0;
  padding: 0;
}

.news ul {
  list-style: none;
  display: flex;
  width: 220px;
  flex-wrap: wrap;
}
.news ul li {
  margin: 10px;
}
.news ul img {
  width: 200px;
  display: block;
}